/* input type="date"をbootstrap風に就職 */
input[class^="calendar"] {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[class^="calendar"]:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* スワイプで削除ボタン */
.swipe-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.swipe-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #f8f9fa;
    padding: 20px;
    transition: transform 0.3s;
}

.item-content {
    z-index: 1;
}

.delete-btn {
    position: absolute;
    right: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s;
}


/* スワイプで削除ボタン(プレーンjs) */
.swipe-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .swipe-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #f8f9fa;
    padding: 20px;
    transition: transform 0.3s;
  }

  .item-content {
    z-index: 1;
  }

  .delete-btn {
    position: absolute;
    right: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }